@{
    ViewData["Title"] = "Employee Not Found";
}

<h1>@ViewData["Title"]</h1>

<p>Employee with ID @ViewData["EmployeeId"] not found or the Data Access API is cooling down (just wait a minute and refresh this page).</p>

<a href="/Employees/Index" class="btn btn-primary">Back to Employee List</a>